PORT=
CORS_ORIGIN=
DATABASE_URL="postgresql://user:pass@host/dbname?sslmode=require"
CLIENT_URL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
RESET_PASSWORD_SECRET=

REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=